<h1>Home#index</h1>
<ul>
	<h3>
		<li><a href="/contacts">Contatos</a></li>
		<li><a href="/addresses">Endereços</a></li>
		<li><a href="/kinds">Categoria de Contatos</a></li>
		<li><a href="/phones">Telefones</a></li>
	</h3>
</ul>